.typedoc__type-link,
.typedoc-intrinsic {
  border: 1px solid #222;
  display: inline-block;
  font-style: italic;
  font-family: monospace;
  margin: 0;
  font-size: 0.75rem;
  padding: 0 0.5rem;
}

.typedoc__type-link {
  padding: 0 0.5rem;
}

.typedoc-declaration-name {
  margin: 0;
  display: inline-block;
  line-height: 1.5rem;
}

.typedoc-heading {
  display: block;
}

.typedoc-property,
.typedoc-component-arg {
  padding: 0 1rem;
}

.typedoc-declaration-signatures {
  list-style: none;
}

.typedoc-named-tuple,
.typedoc-component-arg-info {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
  justify-content: space-between;
}
.typedoc-component-arg-info > .typedoc-name {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.typedoc-declaration-children {
  list-style: none;
  padding: 0 0.5rem;
}

/**
 *
 * Component Signatures
 *
 */
.typedoc__component-signature__element,
.typedoc__component-signature__block {
  display: block;
  padding: 0 1rem;
}
.typedoc__component-signature__element-type {
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
  justify-content: space-between;
}

.typedoc__component-signature__element-type > .typedoc__name {
  display: inline-block;
  margin: 0;
  line-height: 1.5rem;
}

.typedoc__component-signature__block .typedoc-declaration-name + .typedoc-reference {
  margin-bottom: -0.25rem;
}

.typedoc-component-arg {
  margin-bottom: 0.5rem;
  display: grid;
  gap: 0.25rem;
}
.typedoc-component-arg > .typedoc-name,
.typedoc__component-signature__block > .typedoc__name {
  font-size: 1.2rem;
}

.typedoc-component-arg .typedoc-rendered-comment p {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

/**
 * References
 */
.typedoc__reference {
}
.typedoc__reference__name {
  display: inline;
  border: 1px solid #222;
  font-style: italic;
  font-family: monospace;
  margin: 0;
  font-size: 0.75rem;
  padding: 0 0.5rem;
}
.typedoc__reference__typeArguments {
  display: inline-grid;
  width: fit-content;
  grid-auto-flow: column;
  gap: 0.5rem;
}
.typedoc__reference__typeArgument {
  border: 1px solid;
}

/**
 * Array formatting
 */
.typedoc__array > div.typedoc-declaration > ul.typedoc-declaration-children {
  border: 1px solid;
  margin: 0;
}

/**
 * Signature / Function Formatting
 */
.typedoc__function__type {
  display: flex;
}
.typedoc__function__parameters {
  margin-left: 1rem;
}
.typedoc__function__parameter {
  width: fit-content;
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
}
.typedoc__function__parameter__name {
  font-style: italic;
  font-family: monospace;
  font-size: 0.75rem;
}

/**
 * Literal
 */
.typedoc__literal {
  font-family: monospace;
  font-size: 0.75rem;
}

/**
 * Union
 */
.typedoc__union {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.typedoc__union__type {
  display: inline-flex;
  gap: 0.25rem;
}
.typedoc__union__type::before {
  content: '|';
}
.typedoc__union .typedoc__union__type:first-child::before {
  display: none;
}
