nav > ul {
  position: sticky;
  top: 1rem;
  z-index: var(--alt-z-nav);
}
nav ul {
  list-style: none;
  line-height: 1.5rem;
}
nav ul li a {
  white-space: nowrap;
}

nav h2 {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
}
