/**
 *
 *  https://una.im/css-color-theming/
 *
 *
 * For converting from Hex to HSL
 *
 * https://htmlcolors.com/hex-to-hsl
 */

:root {
  /*
   *  Base Values
   *
   * Change these and nothing else, really.
   * It's a bunch of color math.
   *
   *  */
  --primary-color-h: 277;
  --primary-color-s: 100%;
  --primary-color-l: 30.6%;
  --secondary-color-h: 213;
  --secondary-color-s: 75.9%;
  --secondary-color-l: 77.3%;

  --contrastThreshold: 60%;

  /*  Calculations Based on Lightness  */
  --lightnessTransform: 10%;
  --darknessTransform: 15%;
  --primary-color-light-l: calc(var(--primary-color-l) + var(--lightnessTransform));
  --primary-color-dark-l: calc(var(--primary-color-l) - var(--darknessTransform));
  --secondary-color-light-l: calc(var(--secondary-color-l) + var(--lightnessTransform));
  --secondary-color-dark-l: calc(var(--secondary-color-l) - var(--darknessTransform));

  --color-primary: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
  --color-secondary: hsl(
    var(--secondary-color-h),
    var(--secondary-color-s),
    var(--secondary-color-l)
  );
  --color-primary-dark: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    var(--primary-color-dark-l)
  );
  --color-secondary-dark: hsl(
    var(--secondary-color-h),
    var(--secondary-color-s),
    var(--secondary-color-dark-l)
  );
  --color-primary-light: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    var(--primary-color-light-l)
  );
  --color-secondary-light: hsl(
    var(--secondary-color-h),
    var(--secondary-color-s),
    var(--secondary-color-light-l)
  );

  /*  Calculations Based on Hue  */
  --color-primary-complement: hsl(
    calc(var(--primary-color-h) + 180),
    var(--primary-color-s),
    var(--primary-color-l)
  );
  --color-primary-triad-1: hsl(
    calc(var(--primary-color-h) + 120),
    var(--primary-color-s),
    var(--primary-color-l)
  );
  --color-primary-triad-2: hsl(
    calc(var(--primary-color-h) - 120),
    var(--primary-color-s),
    var(--primary-color-l)
  );
  --color-secondary-complement: hsl(
    calc(var(--secondary-color-h) + 180),
    var(--secondary-color-s),
    var(--secondary-color-l)
  );
  --color-secondary-triad-1: hsl(
    calc(var(--secondary-color-h) + 120),
    var(--secondary-color-s),
    var(--secondary-color-l)
  );
  --color-secondary-triad-2: hsl(
    calc(var(--secondary-color-h) - 120),
    var(--secondary-color-s),
    var(--secondary-color-l)
  );
}

/*  Apply Color to Boxes */

.primary {
  background: var(--color-primary);

  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-light {
  background: var(--color-primary-light);
  --switch: calc((var(--primary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-dark {
  background: var(--color-primary-dark);
  --switch: calc((var(--primary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-complement {
  background: var(--color-primary-complement);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-triad-1 {
  background: var(--color-primary-triad-1);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.primary-triad-2 {
  background: var(--color-primary-triad-2);
  --switch: calc((var(--primary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary {
  background: var(--color-secondary);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-light {
  background: var(--color-secondary-light);
  --switch: calc((var(--secondary-color-light-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-dark {
  background: var(--color-secondary-dark);
  --switch: calc((var(--secondary-color-dark-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-complement {
  background: var(--color-secondary-complement);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-triad-1 {
  background: var(--color-secondary-triad-1);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}

.secondary-triad-2 {
  background: var(--color-secondary-triad-2);
  --switch: calc((var(--secondary-color-l) - var(--contrastThreshold)) * -100);
  color: hsl(0, 0%, var(--switch));
}
