[aria-label="::missing::"] {
  border: red;
}
label [aria-label="::missing::"] {
  border: unset;
}

a[href="##missing##"] {
  border: red;
}
a[href="##missing##"]:after {
  content: 'empty href';
  color: red;
}


