.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
  content: "" !important;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
  content: "" !important;
}

.prose .demo details {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.prose .featured-demo input {
  color: black;
}

.typedoc__declaration-children {
  max-width: 800px;
}

.typedoc__component-signature__block
  > .typedoc__property
  > .typedoc__declaration
  .typedoc__declaration-children {
  display: block;
}

.theme-light {
  --color-page-background: white;
}

.theme-dark {
  --color-page-background: #111;
}
