html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#layout {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
  max-width: 700px;
  margin: 0 auto;
}

nav > ul {
  position: sticky;
  top: 1rem;
  z-index: 10;
}
nav ul { list-style: none; line-height: 1.5rem; }

/* @media only screen and (min-width: 900px)  { */
/* } */

#layout > section {
  padding-right: 1rem;
}

h2, h3, h4 { display: inline-block; }
ul { padding-left: 1rem; }

pre {
  max-width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

pre > code { max-width: 100%; }
pre, code {
    white-space: pre-wrap;
}

