@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../../node_modules/@universal-ember/docs-support/**/*.{js,ts,hbs,gjs,gts,html,md}";

@custom-variant dark (&:is(.dark, .dark *));

@theme {
  --font-sans:
    "InterVariable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-display: "Helvetica", "Arial", sans-serif;
  --max-width-8xl: 88rem;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
  content: "" !important;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
  content: "" !important;
}

.prose .demo details {
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.prose .featured-demo input {
  color: black;
}

.typedoc__declaration-children {
  max-width: 800px;
}

.typedoc__component-signature__block
  > .typedoc__property
  > .typedoc__declaration
  .typedoc__declaration-children {
  display: block;
}

.theme-light {
  --color-page-background: white;
  --color-foreground: black;
}

.theme-dark {
  --color-page-background: #252525;
  --color-foreground: white;
}
