.featured-demo .glimdown-render,
.featured-demo .repl-sdk__demo {
  width: 100%;
  max-width: 100%;
  padding: 5rem;
  background: linear-gradient(to right, #7c3aed, #4f46e5);
  border-radius: 0.75rem;
  max-height: 20rem;
  color: #f8fafc;
}

.featured-demo.auto-height .glimdown-render,
.featured-demo.auto-height .repl-sdk__demo {
  max-height: none;
}
