@reference "tailwindcss";

html,
body {
  /*overflow: hidden;*/
  /*height: 100dvh;*/
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-gray-900);
    background-color: var(--color-white);
  }

  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

a,
button,
input,
select,
textarea,
[role="switch"],
[role="button"],
[role="tab"],
[role="tab"][aria-selected],
[tabindex] {

  &:focus,
  &:focus-visible {
    @apply outline-none;
  }

  &:focus-visible {
    @apply ring-2 ring-offset-2 ring-[#e04e39] ring-offset-black rounded;
  }
}

[role="switch"][name="color-scheme"]:focus-visible+label .ball {
  @apply ring-2 ring-offset-2 ring-[#e04e39] ring-offset-black rounded;
}

.facade-header {
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
}

nav[aria-label="Main Navigation"] {
  @apply text-base;

  >ul {
    @apply space-y-9;

    h2 {
      @apply font-medium text-slate-900 dark:text-white;
      font-family: var(--font-display);
    }

    ul {
      @apply mt-2 space-y-2 border-l-2 border-slate-100 lg:mt-4 lg:space-y-4 lg:border-slate-200 dark:border-slate-800;
    }

    li {
      @apply pl-4 relative;
    }

    >li {
      >a {
        @apply font-medium;
        font-family: var(--font-display);
      }
    }
  }
}
