.site-theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0;
  transition: background 0.2s linear;

  .sr-only {
    margin-left: -0.5rem;
  }

  input[type="checkbox"][role="switch"] {
    opacity: 0;
    position: absolute;
  }

  label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    box-shadow: inset 1px 0px 1px gray;
  }

  label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  input[type="checkbox"][role="switch"]:checked + label .ball {
    transform: translateX(24px);
  }
}
